h1 {
    color: aqua;
    background-color: brown;
}

.parent {
    width: 500px;
    height: 300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child1 {
    width: 400px;
    height: 250px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

}

.child2 {
    width: 300px;
    height: 200px;
    background-color: blue;
}