* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#033747, #012733);
}

nav .logo p {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: aliceblue;
    letter-spacing: 1.5px;
}

nav ul {
    float: right;

}

nav li {
    display: inline-block;
    list-style: none;

}

nav li a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: aliceblue;
    text-decoration: none;
}

nav li a:hover {
    color: coral;

}

.banner-area {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(63, 61, 61, 0.5), rgba(249, 241, 241, 0.5)), url(portfolio.jpg);
    background-size: cover;
}

.content-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 50px;

}

.content p {
    font-size: 25px;
    color: #ddd;
}

.content .btn {

    border: none;
    outline: none;
    padding: 15px;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 4px;
    color: #eee;
    font-size: 18px;
    cursor: pointer;
    background: #222;
}